.current{
    font-size: 19px;
    margin-top: 0%;
    margin-bottom: 9%;
    margin-left: 0%;
    margin-right: 0%;
}
.info-table{
    margin-left: 1%;
}
body{
    background-color: rgb(245, 241, 229);
}
/*
.about{
    font-size: 90%;
    margin-left: 10%;
    margin-bottom: 50px;
}
*/
a{
    color: rgb(145, 205, 253);
}
a:hover{
    color: rgb(43, 158, 253);
}